/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    color: #808080;
}

* {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    /* Colors */
    --primary-color: #FEA301;
    --secondary-color: #01ACFD;
    --white-color: #FFFFFF;
}

#bar-icon {
    display: none;
}

main {
    background-image: url(../assets/bg.png);
    /* background-color: beige; */
}

/* Shared styles */
.display-flex {
    display: flex;
}

.btn-primary {
    font-weight: bold;
    font-size: 1.25rem;
    background-color: black;
    color: var(--white-color);
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: var(--primary-color);
}

.section-title {
    font-size: 2.8rem;
    padding-top: 60px;
}


/* Header */
/* Navbar */
.nav-bar {
    max-width: 1440px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.logo-title {
    font-weight: bold;
    font-size: 2rem;
}

nav ul {
    gap: 32px;
}

.list-items {
    list-style: none;
}

#item-1 {
    color: var(--primary-color);
}

#item-2 {
    color: var(--secondary-color);
    font-weight: 500;
}

#item-3 {
    color: #05D4DF;
    font-weight: 500;
}

#item-4 {
    color: #5D58EF;
    font-weight: 500;
}

.list-items a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.nav-btn:hover{
    background-color: black;
}

/* Banner */
.banner {
    max-width: 1440px;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 0;
}

.about-banner {
    max-width: 640px;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.banner-title {
    font-weight: bold;
    font-size: 3.5rem;
}

.banner-description {
    font-size: 1.25rem;
}

.text-design-1 {
    color: var(--primary-color);
}

.text-design-2 {
    color: var(--secondary-color);
}



/* Standard curriculum section related styles */
.curriculum {
    max-width: 1440PX;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 60px;
}

.card-boxes {
    gap: 28px;
}

.card-box {
    max-width: 367px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 19px;
    background: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
    background-color: var(--white-color);
    border: 2px solid #DEF5FF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 52px 40px;
    gap: 33px;
}

#box-2 {
    background: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
    border: 2px solid #FFF4DC;
}

#box-3 {
    background: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
    border: 2px solid #F2E8FF;
}

.box-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #202020;
}

.box-description {
    line-height: 25px;
}

.read-more {
    font-weight: bold;
    font-size: 1rem;
    color: #64C8FF;
}

.read-more-color1 {
    color: #F0AA00;
}

.read-more-color2 {
    color: #8700FF;
}

/* Angle section */
.angle-section {
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.angle-left,
.angle-right {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
}

.angle-position {
    padding: 18px 22px;
}


/* Our Stories related styles */
.section-2 {
    background: linear-gradient(to top, rgba(254, 163, 1, 0.2 ), rgba(255, 255, 255, 1));
}

.our-stories {
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.story-box {
    gap: 20px;
}

.story-box-card {
    background-color: var(--white-color);
    max-width: 540px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
}

.story-box-card img {
    border-radius: 16px 16px 0 0;
}

.story-box-btn {
    background-color: #3CD8E8;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1rem;
    font-family: "Raleway", serif;
    padding: 15px 18px;
    border-radius: 48px;
    border: none;
    margin-left: -300px;
    margin-top: -25px;
}

.about-story-card {
    padding: 33px;
}

.story-card-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 47px;
}

.story-boxes-card {
    max-width: 600px;
}

.story-box2-cards {
    max-width: 290px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    align-items: center;

}

.story-boxes-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-box2-cards img {
    border-radius: 16px 16px 0 0;
    width: 100%;
}

.box2-card1-btn {
    background-color: #95B226;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1rem;
    font-family: "Raleway", serif;
    padding: 10px 18px;
    border-radius: 48px;
    border: none;
    margin-left: -55px;
    margin-top: -20px;
    /* margin-bottom: 20px; */
}
.shift-btn{
    margin-left: -90px;
}

.btn-bg {
    background-color: #5D58F0;
}

.box2-cards-title {
    padding: 19px 38px 28px 38px;
    font-weight: bold;
    font-size: 1rem;
}


/* Footer */
footer{
    width: 100%;
    background-color: var(--secondary-color);
}
.footer-section{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 123px;
    padding-bottom: 174px;
    gap: 50px;
    justify-content: space-between;
}
.about-footer{
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 35px;
}
.logo-img{
    width: 82px;
    height: 82px;
}
.footer-logo{
    color: var(--white-color);
    font-weight: bold;
    font-size: 2rem;
}
.footer-description{
    font-size: 1.25rem;
    color: var(--white-color);
}
.footer-d2 h3{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 32px;
    color: var(--white-color);
}
.footer-d2 ul{
    flex-direction: column;
    gap: 20px;
}
.footer-d2 ul li{
    list-style: none;
}
.footer-d2 ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--white-color);
}
.footer-d3 h3{
    font-size: 1.625rem;
    font-weight: bold;
    color: var(--white-color);
    margin-bottom: 32px;
}
.footer-d3 > div{
    gap: 10px;
}


/* Responsive for small devices */
@media screen and (max-width: 576px) {
    .nav-bar {
        margin-top: 0;
        padding: 12px 16px;
        border-bottom: 1px solid var(--primary-color);
    }

    .logo-title,
    .items,
    .nav-btn {
        display: none;
    }

    #bar-icon {
        display: block;
        font-size: 2rem;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 16px;
        text-align: center;
        margin-top: 0;
    }

    .banner-img {
        width: 100%;
    }

    .banner-btn {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .curriculum {
        gap: 20px;
        padding: 16px;
    }

    .section-title {
        text-align: center;
        font-size: 1.6rem;
    }

    .card-boxes {
        flex-direction: column;
    }

    .angle-section,
    .story-box-card {
        display: none;
    }

    .story-boxes-card {
        gap: 10px;
        padding: 16px;
    }

    .box2-card1-btn {
        font-size: 0.6rem;
        padding: 5px 11px;
        margin-left: -45px;
        margin-top: -10px;
    }
    .shift-btn{
        margin-left: -70px;
    }

    .box2-cards-title {
        font-size: 0.6rem;
        padding: 11px 22px 17px 22px;
    }
    .our-stories{
        padding-top: 0;
        gap: 20px;
    }
    .footer-section{
        flex-direction: column;
        padding: 65px 12px 60px 20px;
    }
}